h1 {
  font-size: 20px;
}

input {
  width: 100%;
  height: 25px;
  border: solid 0.5px rgba(0, 0, 0, 0.400);
}

.input_wrapper{
  width: 630px;
  margin-left: 40px;
  margin-top: 20px;
}

.images_frame_under_filter{
  width: 630px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px;
}

.filter_contents {
  width: 300px;
  margin-bottom: 20px;
  border: solid 0.5px rgba(0, 0, 0, 0.200);
}

.inner_frame {
  padding: 15px 15px 1px;
}

.filter_matached_image {
  width: 100%;
  height: 170px;
  object-fit: cover;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
